<div class="head-box">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8">
                <h1>{{person.name}}</h1>
                <img src="{{person.picture}}" alt="foto">
            </div>
        </div>
    </div>
</div>

<div class="container content">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-8">
            
            <h4>Fecha de nacimiento</h4>
            <p>{{person.birthday}}</p>

            <h4>Profesión</h4>
            <p>{{person.job}}</p>

            <h4>Bio</h4>
            <p>{{person.biography}}</p>
        </div>
    </div>
</div>
